*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    width: 100px;
    height: 40px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

.button-div{
    display: flex;
    gap: 20px;
    margin: 30px 0px;
}

.timer-container{
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.lap-row{
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.lap-container{
    height: 180px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}